body{
    background-image: url(Kép/háttér1.jpg);
}
img{
   width: 1480px;
}
.a{
    width: 700px;
    
    }
.b{
    width: 400px;
   
}
h4{
    text-decoration: underline;
}
.c{
    width: 700px;
    height: 316px;
}
.d{
    width: 700px;
}
.az{
    width: 600px;
    height: 527px;
}
.as{
    width: 400px;
}
.t{
    width: 1000px;
}
.be{
    width: 600px;
}
.best{
    width: 680px;
}
.bor{
    width: 1000px;
}
.bo{
    width: 210px;
}
.anna{
    width: 700px;
}